div(class="row")
    div(class="eight columns center")
        h4(class="no-margin-bottom") Create Sensor
        div(class="twelve columns margin10Top")
                div(class="row")
                    label Select Type
                    select(name="repeatSelect", id="repeatSelect", ng-model="sensorCtrl.sensor.type",class="margin5Bottom")
                        option(ng-repeat="type in sensorCtrl.sensorTypes", value="{{type}}", ng-selected="{{type == sensorCtrl.defaultType}}" ) {{type}}
                div(class="row")
                    input(type="text", name="description", ng-model="sensorCtrl.sensor.description", class="margin5Bottom", placeholder="Description")
                div(class="row margin10Top")
                    input(type="button", name="Create" value="Create" class="pure-button button-primary margin5Top" ng-click="sensorCtrl.submitSensor(sensorCtrl.sensor)")