extends ./shared/layout.pug
block content
    div(class="container")
        div(class="row")
            div(class="twelve columns")
                .loginContainer
                    form(name="login", action="/login", method="post", class="pure-form")
                        fieldset 
                            div(class="row")
                                legend(class="eight columns offset-by-two text-center") 
                                    h4(class="no-margin-bottom") LOGIN
                            div(class="row")
                                label(for="username", class="four columns offset-by-two") Username
                                label(for="password", class="four columns passwordLabel") Password
                            div(class="row")
                                input(type="text", name="username", class="four columns offset-by-two")
                                input(type="password", name="password", class="four columns")
                            div(class="row margin15Top")
                                input(type="submit", value="login", class="pure-button two columns offset-by-five button-primary")